h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	color: #0D2C40;
	letter-spacing: 1px;
	font-size: 45px;
	margin: 0;
}


p {
	font-family: "Droid Serif", serif;
}

body {
	text-align: center;
}

a {
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: :1px;
	font-weight: 600;
	font-size: 18px;
}


h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: :1px;
	font-weight: 600;
	font-size: 20px;
}

header {
	background: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}


body {
	margin: 0;
}